@media  (max-width: 740px) {
    .container{
        width: 100%;
    }

    .nav-item,
    .image{
        display: none;
    }

    #menu{
        display: block;
    }

    header nav h1 a{
        font-size: 30px;
    }
    
    .bx{
        font-size: 50px;
        cursor: pointer;
        color: #fff;
    }


    .mobile-menu{
        display: none;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .ativo{
        display: block;
        position: absolute;
        top: 10rem;
        right: 10px;
        background-color: rgba(15, 16, 16, 0.4);
        padding: 20px;
        border-radius: 20px;
    }

    .ativo ul{
        list-style: none;
        display: flex;
        gap: 100px;
        border-radius: 10px;
    }

    .ativo ul li a{
        color: #fff;
    }
}